<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- ##################################################################################################### -->

    <xacro:property name="M_PI"                             value="3.14159274"/>

    <xacro:property name="base_size_x"                      value="0.570"/>
    <xacro:property name="base_size_y"                      value="0.360"/>
    <xacro:property name="base_size_z"                      value="0.100"/>
    <xacro:property name="base_mass"                        value="22.0"/>
    
    <xacro:property name="caster_offset_x"                  value="0.228"/>
    <xacro:property name="caster_offset_y"                  value="0.158"/>
    <xacro:property name="caster_offset_z"                  value="-0.034"/>
    <xacro:property name="caster_mass"                      value="0.1"/>

    <xacro:property name="wheel_offset_x"                   value="0.0"/>
    <xacro:property name="wheel_offset_y"                   value="0.0"/>
    <xacro:property name="wheel_offset_z"                   value="0.0"/>

    <xacro:property name="wheel_mass"                       value="0.4"/>
    <xacro:property name="wheel_radius"                     value="0.05"/>
    <xacro:property name="wheel_length"                     value="0.005"/>

    <xacro:property name="caster_joint_damping"             value="1.0"/>
    <xacro:property name="caster_joint_friction"            value="1.0"/>
    <xacro:property name="caster_joint_effort"              value="30"/>
    <xacro:property name="caster_joint_velocity"            value="10"/>
    <xacro:property name="caster_joint_safety_k_velocity"   value="10.0"/>

    <xacro:property name="wheel_joint_damping"              value="1.0"/>
    <xacro:property name="wheel_joint_friction"             value="1.0"/>
    <xacro:property name="wheel_joint_effort"               value="30"/>
    <xacro:property name="wheel_joint_velocity"             value="10"/>
    <xacro:property name="wheel_joint_safety_k_velocity"    value="10.0"/> 
<!-- ##################################################################################################### -->

    <material name="Orange">
        <color rgba="1.0 0.4 0.0 1.0"/>
    </material>
    <material name="Grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>
    <material name="DarkGrey">
        <color rgba="0.3 0.3 0.3 1.0"/>
    </material>
    <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
    <material name="Black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
    <material name="Red">
        <color rgba="1.0 0.0 0.0 1.0"/>
    </material>
    <material name="Green">
        <color rgba="0.0 1.0 0.0 1.0"/>
    </material>
    <material name="Blue">
        <color rgba="0.0 0.0 0.8 1.0"/>
    </material>
    <material name="LightGrey">
        <color rgba="0.82 0.82 0.82 1.0"/>
    </material>    

</robot>