<?xml version="1.0"?>
<robot name="kukabot" xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- ##################################################################################################### -->

    <xacro:include filename="$(find kukabot_description)/urdf/common_properties.xacro"/>
    <xacro:include filename="$(find kukabot_description)/urdf/main.gazebo.xacro" />
    <xacro:include filename="$(find kukabot_description)/urdf/main.ros2_control.xacro" />
    <xacro:include filename="$(find kukabot_description)/urdf/kukabot_base.xacro"/>
    <xacro:include filename="$(find kukabot_description)/urdf/kukabot_base.gazebo.xacro"/>
    <xacro:include filename="$(find kukabot_description)/urdf/kukabot_caster.xacro"/>
    <xacro:include filename="$(find kukabot_description)/urdf/kukabot_caster.gazebo.xacro"/>
    <xacro:include filename="$(find kukabot_description)/urdf/kukabot_wheel.xacro"/>
    <xacro:include filename="$(find kukabot_description)/urdf/kukabot_wheel.gazebo.xacro"/>
<!-- ##################################################################################################### -->

    <!-- Base -->
    <xacro:kukabase                 name="base"/>
    <xacro:kukacaster               name="base"/>
    <xacro:kukawheel                prefix="frontLeft"/>

    <!-- Base -->
    <xacro:kukabase_gazebo/>

    <!-- Caster -->
    <xacro:kukacaster_gazebo        prefix="frontLeft"/>
    <xacro:kukacaster_gazebo        prefix="frontRight"/>
    <xacro:kukacaster_gazebo        prefix="backLeft"/>
    <xacro:kukacaster_gazebo        prefix="backRight"/>

    <!-- Wheel -->
    <xacro:kukawheel_gazebo         prefix="frontLeft"/>

    <xacro:main_gazebo/>
    <xacro:main_ros2_control/>

</robot>