<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="mx1_wheel1_Joint">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="mx2_wheel2_Joint">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="mx3_wheel3_Joint">
        <material>Gazebo/Black</material>
    </gazebo>

</robot>
