<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">   
<!-- ##################################################################################################### -->

    <xacro:macro name="main_ros2_control">

        <ros2_control name="mykukabot" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <joint name="wheel_joint_frontLeft">

                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                
            </joint>

            <joint name="wheel_joint_frontRight">

                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                
            </joint>

            <joint name="wheel_joint_backLeft">

                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                
            </joint>

            <joint name="wheel_joint_backRight">

                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                
            </joint>
            
        </ros2_control>

    </xacro:macro>

</robot>