<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="Arm" type="system">
        <hardware>

            <!-- Here we use a mock plugin for simulation/testing purposes. -->
            <plugin>mock_components/GenericSystem</plugin>
            
            <!-- Enables dynamic calculations for joints (e.g., velocity, position, effort). Useful for more realistic simulations. -->
            <param name="calculate_dynamics">true</param>

        </hardware>

        <joint name="arm_base_forearm_joint">
            <!-- The joint accepts position commands -->
            <command_interface name="position" />

            <!-- The joint reports its position state -->
            <state_interface name="position" />
        </joint>

        <joint name="forearm_hand_joint">
            <!-- The joint accepts position commands -->
            <command_interface name="position" />

            <!-- The joint reports its position state -->
            <state_interface name="position" />
        </joint>
    </ros2_control>

</robot>