<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Defines a ROS2 Control hardware interface for the robot.
        - name: The unique name for this hardware system interface.
        - type="system": Indicates this is a system-level interface managing multiple joints.
    -->
    <ros2_control name="MobileBaseHardwareInterface" type="system">
        <hardware>
            <!-- Here we use a mock plugin for simulation/testing purposes. -->
            <plugin>mock_components/GenericSystem</plugin>
            
            <!-- Enables dynamic calculations for joints (e.g., velocity, position, effort). Useful for more realistic simulations. -->
            <param name="calculate_dynamics">true</param>
        </hardware>

        <!-- Defines the right wheel joint of the mobile base. -->
        <joint name="base_RightWheel_joint">

            <!-- The joint accepts velocity commands (angular velocity for the wheel). -->
            <command_interface name="velocity" />

            <!-- he joint reports its position and velocity state -->
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        
        <joint name="base_LeftWheel_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

</robot>