controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    forward_velocity_controller:
      type: forward_command_controller/ForwardCommandController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

forward_velocity_controller:
  ros__parameters:
    joints:
      - wheel_joint_frontLeft
      - wheel_joint_frontRight
      - wheel_joint_backLeft
      - wheel_joint_backRight
    interface_name: velocity
    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity

